# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# read file
df = pd.read_csv(output_data_file)

# print data frame
df

,City,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temperature,Wind Speed
0,Puerto Escondido,MX,2020-03-17 19:51:13,15.85,-97.07,40,74,86.00,9.17
1,Hermanus,ZA,2020-03-17 19:49:13,-34.42,19.23,2,92,63.00,1.14
2,Inhambane,MZ,2020-03-17 19:50:20,-23.86,35.38,25,77,74.03,14.16
3,Ponta do Sol,PT,2020-03-17 19:49:18,32.67,-17.10,40,67,59.00,21.92
4,Rikitea,PF,2020-03-17 19:49:09,-23.12,-134.97,4,78,80.71,11.90
...,...,...,...,...,...,...,...,...,...
557,Yur’yevets,RU,2020-03-17 19:51:48,57.32,43.10,72,97,33.12,9.24
558,Qasigiannguit,GL,2020-03-17 19:49:17,68.82,-51.19,96,59,3.20,21.92
559,Port Hedland,AU,2020-03-17 19:49:45,-20.32,118.57,0,74,84.20,3.36
560,North Bend,US,2020-03-17 19:51:49,43.41,-124.22,90,87,52.00,8.05
561,Los Llanos de Aridane,ES,2020-03-17 19:49:11,28.66,-17.92,20,77,60.80,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '500px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

locations = df[['Latitude', 'Longitude']]
weights = df['Humidity']
fig = gmaps.figure(layout = figure_layout)

# Add heatmap layer
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

hotel_df = df.loc[(df["Max Temperature"] >= 70) & (df["Max Temperature"] <= 80) &
                    (df["Wind Speed"] <= 10) & (df["Cloudiness"] == 0)]

hotel_df

,City,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temperature,Wind Speed
100,Bima,ID,2020-03-17 19:51:20,-8.47,118.72,0,89,77.27,2.33
103,Airai,TL,2020-03-17 19:49:11,-8.93,125.41,0,67,72.90,4.52
253,Phan Thiet,VN,2020-03-17 19:49:37,10.93,108.10,0,74,71.42,3.29
260,Buin,CL,2020-03-17 19:51:29,-33.73,-70.75,0,40,75.20,6.93
261,Khātra,IN,2020-03-17 19:51:29,22.98,86.85,0,41,72.28,6.13
339,Acajutla,SV,2020-03-17 19:49:43,13.59,-89.83,0,78,79.00,3.00
449,Antalaha,MG,2020-03-17 19:49:27,-14.90,50.28,0,84,78.37,5.10

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df["Hotel Name"] = ""

# create a params dict that will be updated with new city each iteration
params = {
    "key": g_key,
    "radius": 5000,
    "keyword": "hotel",
}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    lat = row['Latitude']
    lng = row['Longitude']

    # update address key value
    params['location'] = f"{lat},{lng}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
        
    # convert to json
    cities_lat_lng = cities_lat_lng.json()
        
    try:
        # fill in data frame
        hotel_df.loc[index, 'Hotel Name'] = cities_lat_lng['results'][0]['name']
        
    except:
        print(f"Skip row {index}")

# Drop missing rows and print data frame
hotel_df = hotel_df.drop([103,260])
hotel_df

C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Skip row 103
Skip row 260

,City,Country,Date,Latitude,Longitude,Cloudiness,Humidity,Max Temperature,Wind Speed,Hotel Name
100,Bima,ID,2020-03-17 19:51:20,-8.47,118.72,0,89,77.27,2.33,Tambora Homestay Bima
253,Phan Thiet,VN,2020-03-17 19:49:37,10.93,108.10,0,74,71.42,3.29,Monaco Hotel
261,Khātra,IN,2020-03-17 19:51:29,22.98,86.85,0,41,72.28,6.13,Oishi Plaza
339,Acajutla,SV,2020-03-17 19:49:43,13.59,-89.83,0,78,79.00,3.00,Villavela Hotel Boutique
449,Antalaha,MG,2020-03-17 19:49:27,-14.90,50.28,0,84,78.37,5.10,Villa-Malaza

In [7]:
# Customize the size of the figure
figure_layout = {
    'width': '500px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

locations = df[['Latitude', 'Longitude']]
weights = df['Humidity']
fig = gmaps.figure(layout = figure_layout)

# Add heatmap layer
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))

# Assign the marker layer to a variable
hotel_locations = hotel_df[['Latitude', 'Longitude']]
markers = gmaps.marker_layer(hotel_locations)

# Add the layer to the map
fig.add_layer(markers)

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Latitude", "Longitude"]]

In [9]:
# Add marker layer ontop of heat map
symbol_layer = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)
fig.add_layer(symbol_layer)

# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…